:root {
    --praimeri-text-color: #212121;
    --title-text-color: #757575;
    --accent-color: #2196F3;
    --white-color: #ffffff;
    --backgraund-section-color:#F5F4FA;
    --hero-footer-background-color: #2F303A;
}

body{
    background-color: #fff;
    color: var(--praimeri-text-color);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    letter-spacing: 0.03em;
}

.list .link{
    list-style: none;
}

button{
    font-family: inherit;
}

/* logo */

.logo{
    font-family: Raleway,sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    text-align: left;
    text-decoration: none;
}

.logo.header{
    color: #000;
}

.logo.footer{
    color: var(--white-color);
}

span{
    color: var(--accent-color);
}

/* site nav */
.nav.link,
.contacts.link{
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-align: left;
    text-decoration: none;
}

.site-nav .link{
    color:var(--praimeri-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus{
    color: var(--accent-color);
}

.site-nav .link.current{
    color: var(--accent-color);
}

.auto-naw .link{
    color: var(--title-text-color);
}

.auto-naw .link:hover,
.auto-naw .link:focus{
    color: var(--accent-color);
    
}

/* hero */

.hero{
    background-color: #2F303A;
}

.hero-title{
    color: var(--white-color);
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase; 
}

/* section */

.section.team{
    background-color: var(--backgraund-section-color);
}

.section-title{
    font-size: 36px;
    line-height: 1.67;
    text-align: center;
}

.delete{
    font-size: 0px;
}

/* feature */

 .feature .title{
    font-size: 14px;
    line-height: 1.14;
    text-align: left;
    text-transform: uppercase;
}

 .feature .text{
    font-size: 14px;
    line-height: 1.71;
    text-align: left;
}

.team .name {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
    text-align: center;
}

.team .text {
    line-height: 1.19;
    text-align: center;
    color: var(--title-text-color);
}

 .portfolio .title{
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio .text{
    line-height: 1.88;
    color: var(--title-text-color );
}

/* button */

.buttons{
    color: var(--white-color);
    background-color: var(--accent-color);
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
}

.button-portfolio{
    background: var(--backgraund-section-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.63;
}

.button-portfolio:hover,
.button-portfolio:focus{
    color: var(--white-color);
    background-color: var(--accent-color);
}

/* footer */

footer{
    background-color: var(--hero-footer-background-color);
}

.address .city{
    color: var(--white-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    text-align: left;
    text-decoration: none;
}

.address .mail{
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    text-align: left;
    text-decoration: none;
}

.address .mail:hover,:focus{
    color: var(--accent-color);
}

.button-portfolio.activ{
    color: var(--white-color);
    background-color: var(--accent-color);
}

.link.color{
    background-color: var(--white-color);
}